<!DOCTYPE html>

<html lang="en">
BASE
<br>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %} {% endblock %}

</head>

<body>

{% block body %} {% endblock %}

</body>


</html>
