{% extends 'base.html' %}

{% block head %}
<title>Flask Sessions</title>
{% endblock %}



{% block body %}
<!--<h1> Body index</h1>-->
<div class="content">
    <h1>Flask sessions</h1>

    <form action="#" method="POST">
        <p> Name : </p>
        <input type="text" name="nm">
        <input type="submit" value="Submit">

    </form>
</div>
{% endblock %}

